@import 'shared/landing.css';
@import 'shared/calendar.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: transparent;
    color: transparent;
    caret-color: black;
    font-weight: normal;
}

body {
    background-color: white;
    min-height: 900px;
}

button, a {
    cursor: pointer;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.50rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1.00rem;
}